body {
	background-color:black;
	max-height:1500px;
}
#head {
	color: #00bb00;
	border:5px solid #00bb00;
	border-radius:10px;
	box-shadow:-1px -1px 0.5em yellow, 2px 2px 0.5em;
	max-width:100%;
	min-width:1800px;
}
#title {
	color: #00bb00;
	text-decoration:underline;
	font-size:60px;
	text-shadow:-1px -2px 0.5em;
}
p#p1 {
	font-size:20px;
	text-decoration:underline;
}
#nav {
	border:5px solid #00bb00;
	padding-top:1%;
	padding-left:1%;
	margin-top:1%;
	border-radius:10px;
	height:50px;
	box-shadow:-1px -1px 0.5em yellow, 2px 2px 0.5em;
	max-width:100%;
	min-width:1800px;
	max-height:50px;
	min-height:50px;
}
a#A1 {
	border-right: 3px solid #00bb00;
	padding-right:1%;
	color: #00bb00;
	font-size:35px;
	text-decoration:none;
}
a.A2 {
	border-left:3px solid #00bb00;
	border-right:3px solid #00bb00;
	font-size:35px;
	color:#00bb00;
	text-decoration:none;
	padding-left:1%;
	padding-right:1%;
	margin-left:3px;
}
label#search {
	color:#00bb00;
	float:right;
	border-left:3px solid #00bb00;
	font-size:35px;
	margin-right:1%;
	padding-left:1%;
}
input#in1 {
	float:right;
    height:20px;
    margin-top:7px;
    color:#00bb00;
	background-color:black;
	border:3px solid #00bb00;
	border-radius:10px;
}
button#b1 {
	float:right;
	margin-right:1%;
	margin-left:1%;
	margin-top:7px;
	height:27px;
	color:#00bb00;
	background-color:black;
	border:3px solid #00bb00;
	border-radius:10px;
	cursor:pointer;
}
div#searches {
	border:5px solid #00bb00;
	border-radius:10px;
	box-shadow:-1px -1px 0.5em yellow, 2px 2px 0.5em;
	width:90%;
	height:1070px;
	margin-top:1%;
	color:#00bb00;
	margin-left:5%;
	min-width:1700px;
	min-height:1070px;
}
div#search {
	border:5px solid #00bb00;
	border-radius:10px;
	box-shadow:-1px -1px 0.5em yellow, 2px 2px 0.5em;
	float:left;
	margin-top:1%;
	margin-left:1%;
	width:500px;
	height:1020px;
	min-width:500px;
	min-height:1020px;
	color:#00bb00;
}
fieldset#f1 {
	border:5px solid #00bb00;
	border-radius:10px;
	height:190px;
	width:400px;
	margin-left:6%;
	min-width:400px;
	min-height:200px;
	overflow:auto;
}
legend#legend1 {
	font-size:20px;
	color:#00bb00;
}
p#p2 {
	margin-right:2%;
}
input#option {
	color:#00bb00;
	background-color:black;
	border:3px solid #00bb00;
	border-radius:10px;
	margin-left:2%;
}
input#specific {
	color:#00bb00;
	background-color:black;
	border:3px solid #00bb00;
	border-radius:10px;
	margin-left:2%;
}
button#b2 {
	color:#00bb00;
	background-color:black;
	border:3px solid #00bb00;
	border-radius:10px;
	cursor:pointer;
	margin-left:2%;
}
fieldset#f2 {
	border:5px solid #00bb00;
	border-radius:10px;
	height:200px;
	width:400px;
	margin-left:6%;
	min-width:400px;
	min-height:200px;
	overflow:auto;
}
legend#legend2 {
	font-size:20px;
	color:#00bb00;
	margin-right:6%;
}
label#l2 {
	margin-left:2%;
}
label#l3 {
	margin-left:2%;
}
div#searchinfo {
	border:5px solid #00bb00;
	border-radius:10px;
	box-shadow:-1px -1px 0.5em yellow, 2px 2px 0.5em;
	float:left;
	width:900px;
	height:600px;
	min-width:900px;
	min-height:600px;
	margin-top:1%;
	margin-left:1%;
}
div#info {
	border:5px solid #00bb00;
	border-radius:10px;
	box-shadow:-1px -1px 0.5em yellow, 2px 2px 0.5em;
	float:left;
	width:900px;
	height:400px;
	min-width:900px;
	min-height:400px;
	margin-top:1%;
	margin-left:1%;
}
div#animation {
	border:5px solid #00bb00;
	border-radius:10px;
	box-shadow:-1px -1px 0.5em yellow, 2px 2px 0.5em;
	float:right;
	width:200px;
	height:1020px;
	min-width:200px;
	min-height:1020px;
	margin-top:1%;
	margin-right:1%;
}
div#animate1 {
	border:3px solid yellow;
	border-radius:10px;
	float:left;
	margin-left:1%;
	margin-top:3%;
	width:80px;
	height:990px;
	min-width:80px;
	min-height:990px;
	background-color:#00bb00;
}
div#animate2 {
	border:3px solid yellow;
	border-radius:10px;
	float:right;
	margin-right:1%;
	margin-top:3%;
	width:80px;
	height:990px;
	min-width:80px;
	min-height:990px;
	background-color:#00bb00;
}
footer {
	color:#00bb00;
	min-width:1800px;
}
p#p5 {
	text-decoration:underline;
}
label#l4 {
	font-size:20px;
	text-decoration:underline;
}
label#l5 {
	float:left;
	font-size:20px;
	margin-bottom:2%;
	text-decoration:underline;
}
ul#ul2 {
	float:left;
	margin-left:2%;
}
ul#ul1 {
	float:left;
	margin-left:12%;
}
label#l6 {
	float:left;
	font-size:20px;
	margin-bottom:2%;
	text-decoration:underline;
}
ul#ul3 {
	float:left;
	margin-left:4%;
}
ul#ul4 {
	float:left;
	margin-left:2%;
}
label#l7 {
	float:left;
	font-size:20px;
	margin-bottom:2%;
	text-decoration:underline;